body {
    background-image: url(fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
}

.nLetra {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nLetra:hover {
    color: goldenrod;
}

nav {
    width: 95%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(169, 160, 160);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resaltar {
    margin: 20px auto;
    width: 95%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(169, 160, 160);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-image {
    width: 70px;
    height: auto;
    margin-right: 75px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fffb03;
    font-weight: bold;
}

a {
    color: #fffb03;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

/* Arreglar esto que no sé si borrar o a ver que es mejor
.logo{
    position: relative;
    display: inline-block;
}
.cont:hover .logo {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
}
.cont:hover + .logo {
    display: block;
}

*/


/*Catalogo parte del diseño*/

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.item {
    background-color: #3ccae3;
    border: 1px solid #523f3f;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(251, 251, 251, 0.829);
}

.item img {
    max-width: 100%;
    border-radius: 8px;
}

.item p {
    margin: 10px 0 0;
    color: #333;
}

div.item:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: #3b3a3a;
    padding: 10px 0;
    margin: 45px auto;
    border-radius: 15px;
    bottom: 0;
    width: 90%;
    clear: both;
}