h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
}

a {
    font-family: sans-serif;
    color: cadetblue;
}