body {
    background: linear-gradient(to right, #f97a5a, #eeea14);
    /* Degradado de naranja a rosa */
    font-size: medium;
    font-style: italic;
    font-weight: 800;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.jitomate {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(102, 226, 226);
}