* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2b85c9;
    text-align: center;
    color: #fff;
}

nav {
    background-color: #444441;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #cfd386;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}

div {
    margin: 50px auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: #80a5e4a7;
    border-radius: 10px;
    box-shadow: #444441 0px 0px 10px;
    display: flex;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #d1bd5b;
    font-size: 24px;
    background-color: #2656b4;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cont:hover .texto {
    opacity: 1;
}

p {
    font-weight: bold;
    margin: 30px;
    font-size: 1.2em;
    text-align: justify;
}

footer {
    background-color: #2bb4c8;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: start;
    font-size: 2.5em;
    margin: 20px;
    color: #444441;
}



header {
    background-color: #2bb4c8;
    padding: 10px 0;
    width: 100%;
    clear: both;
}
