:root {
    --colorBlanco: #fff;
    --colorNegro: rgba(0, 0, 0, 0.5);
    /*Difuminados*/
    --negro14: rgba(14, 13, 13, 0.3);
    --negro34: rgba(34, 35, 36, 0.3);
    --negro37: rgb(37, 19, 19);
    /*Color de letra*/
    --aqua: aqua;
    --aqua2: rgba(15, 239, 239, 0.753);
    --blancoH: rgba(255, 255, 255, 0.7);
    --verdeF: rgb(135, 241, 65);
    --amarillo: rgb(209, 231, 39);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.texto {
    font-weight: bolder;
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 1;
    background-color: var(--colorNegro);
    padding: 10px;
    border-radius: 5px;
}

.menu {
    font-weight: bolder;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: var(--colorNegro);
    padding: 10px;
    border-radius: 5px;
}

.menu a {
    color: var(--colorBlanco);
    text-decoration: none;
    margin: 0 10px;
}

p,
h2 {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--amarillo);
    text-shadow: 2px 2px 4px var(--colorNegro),
        -1px -1px 2px var(--blancoH);
}

p:hover,
h2:hover,
.menu a:hover {
    color: var(--aqua);
}

/*.contenedor {
    display: grid;
    position: absolute;
    right: 0;
    height: 100vh;
    
    background: var(--negro34);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid var(--negro34);
    width: 25rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--negro37);
    animation: fadeIn 2s ease-in-out 3s forwards;
}

.contenedor:hover {
    transform: scale(1.1);
}
*/



footer {
    width: 100%;
    background: var(--negro14);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(34, 35, 36, 0.3);
    position: fixed;
    bottom: 0;

}