# Ignorar dependencias
node_modules/

# Ignorar lockfile si no quieres versionarlo
package-lock.json

# Ignorar variables de entorno
.env

# Ignorar logs
*.log

# Ignorar archivos del sistema
.DS_Store

